/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

:root {
  --qwik-dark-blue: #006ce9;
  --qwik-light-blue: #18b6f6;
  --qwik-light-purple: #ac7ff4;
  --qwik-dark-purple: #713fc2;
  --qwik-dirty-black: #1d2033;
  --qwik-dark-background: #151934;
  --qwik-dark-text: #ffffff;
}

html {
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: "Roobert", "Inter", "Helvetica Neue", Helvetica, Arial,
    sans-serif,ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
}

body {
  padding: 0;
  margin: 0;
  line-height: inherit;
}

/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */
html {
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: "Roobert", "Inter", "Helvetica Neue", Helvetica, Arial,
    sans-serif,ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
}

body {
  padding: 0;
  line-height: inherit;
  height: 100%;
}

code {
  background: rgba(230, 230, 230, 0.3);
  border-radius: 4px;
  padding: 2px 6px;
}


/* 所有瀏覽器 */
*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Chrome 和 Safari */
*::-webkit-scrollbar-thumb {
  background-color: #bfbfbf;
  border-radius: 10px;
  box-shadow: inset 0 0 0 2px #fff;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #666;
}

*::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}

/* Edge 和 IE */
*::-ms-scrollbar {
  width: 10px;
  height: 10px;
}

*::-ms-scrollbar-thumb {
  background-color: #bfbfbf;
  border-radius: 10px;
  box-shadow: inset 0 0 0 2px #fff;
}

*::-ms-scrollbar-thumb:hover {
  background-color: #999;
}

*::-ms-scrollbar-thumb:active {
  background-color: #666;
}

*::-ms-scrollbar-track {
  background-color: #f0f0f0;
}
